
  <!--<title>Find KIM_User</title>-->
  <!--<meta charset="utf-8">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  
  
 
    <div id="fp-nav" class="right">
	<span data-menuanchor="firstPage" class="menu_object"><a href="/"><i class="home icon"></i></a></span>	
				

	<!--
	<span data-menuanchor="4thpage" class="menu_object"><a href="#4thpage"><i class="wrench icon"></i></a></span>
				
	<span data-menuanchor="" class="menu_object" id="category_popup"><a><i class="paperclip icon"></i></a></span>
	-->

	
	<span class="ui menu_object" ><a href="javascript:history.back()" id="back_button"><i class="chevron left icon"></i></a></span>
	
	<% if current_user.nil? == true %>
		<span data-menuanchor="" class="menu_object" id="login_popup">
			<a><i class="lock icon"></i></a>
		</span>
	<%else current_user.nil? == false %>
    <%if Fjob.exists?(current_user.id)==false%>
	    <span data-menuanchor="" class="menu_object" id="user_popup">
	    	<a href ="/fjob/new"><i class="user icon"></i></a>
	    </span>
    <%else%>
    	<span data-menuanchor="" class="menu_object">
      	<a href="/fjob/show/<%=current_user.id%>"><i class="user icon"></i></a>
      </span>
    <%end%>
      <span data-menuanchor="" class="menu_object">
       <a data-method="DELETE" href ="destroy_user_session_path"><i class="lock open icon"></i></a>
      </span>
    <%end %>
				
</div>
	
<!--navbar popup-->
<div class="ui login mini modal">
  
	<i class="close icon"></i>
   
	<div class="ui basic segment">
  	
		<div class="ui center aligned huge header">로그인</div>
			<%= render "devise/sessions/new" %>
		</div>
	</div>

    <div class = "full_container">
        <div class = "container" id = "header_container">
          
    <div class = "header"> 안녕 나는 <%=@profile_user.nickname%>이야</div>
        </div>
 <div class="container" id = "content_container">
        <%@fjob=Fjob.find(@profile_user.id)%>
        <%  @friend=Friendship.all%>
        <%  @count=0 #요청온 파트너 counter%>
       <div class="ui cards">
            <div class="ui card">
                <div class="image">
                        <%if @profile_user.profile_img==""%>
                             <img src="../../assets/nan.jpg">
                        <%else%>
                            <img src="<%=@profile_user.profile_img %>">
                        <%end%>
                </div>
                <div class="content">
                    <div class="header"><%=@profile_user.name%></div>
                    <div class="meta">
                        <a><%=@fjob.category%></a>
                    </div>
                    
                    <div class="description" id = "rating">
                                 <% @myreview=Review.all%>
                           <%sum=0%>
		                  <%num_count=0%>
				          <%@myreview.each do |x|%>
				            	<%if x.subject_id==@profile_user.id%>
							          <%sum+=x.ratings%>
							          <%num_count+=1%>
						          <%end%>
				          <%end%>
					<%if num_count!=0%>
						<%=sum/num_count%>점
				    <%else%>
					    None 
					<%end%>
					<br>
					contract : <%=@fjob.contract%>month<br>
					근무 요일: <%=@fjob.date%><br>
					근무 시간: <%=@fjob.starttime%> ~ <%=@fjob.endtime%> = <%=@fjob.timetotal%><br>
					근무 환경: <%=@fjob.home_environment%> / <%=@fjob.location%><br>
                    </div>
                    
                    <div class="description" id = "description">
                        멋져
                    </div>
                    <div class="description" id = "location">
                    
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
                        Joined in 2013
                    </span>
                    <span>
                        <i class="user icon"></i>
                        <%=num_count%> Friends
                    </span>
                </div>
           </div>
        </div>
        
        <div class ="www1">
        <div class="ui top attached tabular menu">
            <!--<div class="ui button" id = "firstbutton">first</div>-->
            <!--<div class="ui button" id = "secondbutton">second</div>-->
          <a class="ui button item active" data-tab="first">Portfolio</a>
          <a class="ui button item" data-tab="second">Review</a>
          
        </div>
        <div class="ui bottom attached tab segment active" data-tab="first">
          <img src="<%=@fjob.portfolio_img%>">
          career: <%=@fjob.career%><br>
        </div>
        <div class="ui bottom attached tab segment" data-tab="second">
          Review:
          <% @myreview=Review.all%>
           <%sum=0%>
		    <%num_count=0%>
				<%@myreview.each do |x|%>
					<%if x.subject_id==@profile_user.id%>
							<%sum+=x.ratings%>
							<%num_count+=1%>
						<%end%>
				<%end%>
					<%if num_count!=0%>
						<div class="panel-body"><%=sum/num_count%>점</div>
				    <%else%>
					    <div class="panel-body">None </div>
					<%end%>
					
          <br>
          Review from Partners: <br>
		            <%@myreview.each do |x|%>
		                <%if x.subject_id==@profile_user.id%>
		                    <%=User.find(x.rater_id).nickname%> : 
		                    <%if x.review_text==""%>
		                        <%if x.ratings==5%>
		                        일하기 너무 좋았어요
		                        <%elsif x.ratings==4%>
		                        일하기 좋았어요
		                        <%elsif x.ratings==3%>
		                        일하기 보통이었어요
		                        <%elsif x.ratings==2%>
		                        일하기 별로였어요
		                        <%elsif x.ratings==1%>
		                        일하기 진짜 별로였어요
		                        <%elsif x.ratings==0%>
		                        일하기 최악이었어요
		                        <%else%>
		                        <%end%>
		                    <%else%>
		                    <%=x.review_text%><br>
		                    <%end%>
		                <%end%>
		            <%end%>      
        </div>
       
    </div>
        
</div>
</div>




<!--        <div class="ui container">-->
  
<!--  <div class="header">-->
<!--    Profile Picture-->
<!--  </div>-->
  
  
<!--  <div class="image content">-->
<!--    <div class="ui medium image">-->
<!--      <div class="ui card">-->
<!--                <div class="image">-->
<!--                        <img src="../../assets/nan.jpg">-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <div class="header">Matt Giampietro</div>-->
<!--                    <div class="meta">-->
<!--                        <a>Friends</a>-->
<!--                    </div>-->
<!--                    <div class="description">-->
<!--                        Matthew is an interior designer living in New York.-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="extra content">-->
<!--                    <span class="right floated">-->
<!--                        Joined in 2013-->
<!--                    </span>-->
<!--                    <span>-->
<!--                        <i class="user icon"></i>-->
<!--                        75 Friends-->
<!--                    </span>-->
<!--                </div>-->
<!--           </div>-->
<!--    </div>-->
<!--    <div class="description">-->
<!--        <div class =" www1" >-->
<!--            <div class="ui top attached tabular menu">-->
<!--              <a class="item active" data-tab="first">First</a>-->
<!--              <a class="item" data-tab="second">Second</a>-->
<!--              <a class="item" data-tab="third">Third</a>-->
<!--            </div>-->
<!--            <div class="ui bottom attached tab segment active" data-tab="first">-->
<!--              First-->
<!--            </div>-->
<!--            <div class="ui bottom attached tab segment" data-tab="second">-->
<!--              Second-->
<!--            </div>-->
<!--            <div class="ui bottom attached tab segment" data-tab="third">-->
<!--            Third-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--  </div>-->
  
<!--</div>-->

<!-- <div class="ui tabular menu">-->
<!--  <div class="item" data-tab="tab-name">Tab Name</div>-->
<!--  <div class="item" data-tab="tab-name2">Tab Name 2</div>-->
<!--</div>-->
<!--<div class="ui tab" data-tab="tab-name">-->
  <!-- Tab Content !-->
<!--</div>-->
<!--<div class="ui tab" data-tab="tab-name2">-->
  <!-- Tab Content !-->
<!--</div>-->
        
        

      
      
      	
  

      
      
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  
  	<!-- semantic Ui -->
	<!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">-->
	<!--<link rel="stylesheet" type="text/css" href="../../assets/semantic2.css">-->
	<link rel="stylesheet" type="text/css" href="/assets/icon.css">
    <link rel="stylesheet" type="text/css" href="../../assets/detail.css">
  <script src="../../assets/semantic.js"></script>
<script src="../../assets/detail.js"></script>

<script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
  </script>



<link rel="stylesheet" type="text/css" href="/assets/semantic2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/icon.css">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
      
   